@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

*{
    margin:auto;
    padding: 0px;
    box-sizing: border-box;
}    

header {
    width: auto;
    margin: auto;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #494847;

}

.nav a {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;    
    color:whitesmoke;
    background-color: #aaa4a4;
    padding: 5px 10px;
    border-radius: 5px;
   
}

.boton:hover{
    background-color: #888585 ;
}

.cv img{
    margin: auto;
    display: flex;
}

.cursos img{
    width: 80%;
    height: 500px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}
   